<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holy board games - Homepage</title>
    <link rel="stylesheet" href="../assets/css/common.css">
    <script src="../assets/script/jquery-3.2.1.js"></script>
</head>
<body>
<script src="../assets/script/script.js"></script>
<div class="wrapper">
    <div class="content">
        <div class="header">
            <div class="logo"><img id="logo" src="../assets/img/logo.png"></div>
            <div class="heading"><h1>Play board games</h1></div>
            <div class="logo"><a href="/"><img id="logo" src="../assets/img/logo.png"></a></div>
            <div class="heading"><h1>Play board games <br> & enjoy it!</h1></div>
            <div class="search">
                <form name="search">
                    <input type="text" name="query" placeholder="Search..." id="searchInput">
                    <img id="searchButton" src="../assets/img/search.png" onclick="parentNode.submit()"/>
                </form>
            </div>
            <div class="user">
                <button class="button">
                    <a class="hiddenLink" href="/login">Log In</a>
                </button>
                <button class="button">
                    <a class="hiddenLink" href="/register">Register</a>
                </button>
            </div>
        </div>
        <div class="leftCol">
            <div class="catalogue">
                <div class="categoryHeader"><h2>Categories</h2></div>
                <ul>
                    {{ range $key, $value := .Categories }}
                    <li><a href={{print "/?category=" $value.Name}}>{{ $value.Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="center">
            <h1>All products</h1>
            <div>
                <table class="productsTable">
                    {{ range $key, $value := .RequestedBoardGames }}
                    <tr class="listItem">
                        <td class="previewImageSection">
                            <img class="previewImage" width="300px" src={{$value.Image}}>
                        </td>
                        <td class="previewInfoSection">
                            <h3><a href={{print "/about?product=" $value.ID}}>{{ $value.Name }} </a></h3>
                            <p>{{ $value.Description }}</p>
                            <h4>Price: {{ $value.Price }}</h4>
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
        <div class="rightCol">
            <div class="topGoods">
                <h2>Popular goods</h2>
                <ul class="noMarkerList">
                    {{ range $key, $value := .NewBoardGames }}
                    <li class="listItem">
                        <h3>{{ $value.Name }}</h3>
                        <p class="description">{{ $value.Description }}
                            <a href={{print "/about?product=" $value.ID}}>More...</a>
                        </p>
                        <h4>{{ $value.Price }}</h4>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="news">
                <h2>News</h2>
                <ul class="noMarkerList">
                    {{ range $key, $value := .News }}
                    <li class="listItem"><h3>{{ $value.Header }}</h3>
                        <p>{{ $value.Text }}</p>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>© 2017</p>
</div>
</body>
</html>